* {
  margin: 0px;
  padding: 0px;
}
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px;
  background-image: linear-gradient(hsl(246, 55%, 7%), hsl(245, 39%, 48%));

}
a {
  text-decoration: none;
  color: hsl(0, 0%, 90%);
}
a:hover {
  color: hsl(120, 50%, 50%);
}
.main {
  margin-bottom: 100px;
  margin-left: 100px;
  margin-top: 50px;
}
.main-main {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}
.main > * {
  /* border: 1px solid black; */
  color: aquamarine;
}
.main-bg {
  font-size: 50px;
}

.main-sm {
  font-size: 30px;
}
.setup {
  width: 350px;
}
.setup:hover {
  width: 370px;
}
.header {
 display: flex;
 justify-content: space-between;
 padding: 20px 5px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.footer {
  text-align: center;
  padding: 20px 0px;
}

.user {
  margin-left: 250px;
}

.logout {
  margin-left: 10px;
}
.logt {
  background-color: hsl(0, 100%, 40%);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: -10px;
}
.logt:hover{
  background-color: hsl(0, 100%, 60%);
}
.username {
  margin-right: 10px;
  color: aqua;
}
.logo-img {
  width: 50px;
}

.contact-card {
  border: 1px solid white;
  background-color: hsl(245, 39%, 48%);
  margin: 0px auto;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}