* {
  margin: 0px;
  padding: 0px;
  color: white;
}
.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 0px 10px;
  background-color: #05445E;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 0px;
}

.register-login {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}

.main{
  width: 100%;
}

.shop-name {
  font-size: 40px;
  text-align: center;
}

.sign-up {
  text-align: center;
}

a {
  text-decoration: none;
}
