* {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid black; */
}

body {
  /* background-color: burlywood; */
}
.product-card {
  width: 70%;
  margin: 0px auto;
  margin-bottom: 50px;
}

.category {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.product-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

img {
  /* border: 2px solid black; */
  border-radius: 8px;
}
.sell {
  background-color: aquamarine;
  color: black;
  padding: 8px 7px;
  border: 1px solid black;
  border-radius: 7px;
}
.sell:hover {
  background-color: hsl(160, 100%, 85%);
  font-size: 1rem;

}
.important {
  border: 10px solid blue;
}